<footer>
    <div class="footer-item">
       <div class="css-box">
        <span>CSS</span>
        <span>IS</span>
        <span>AWESOME</span>
    </div> 
    </div>
    
    <div class="footer-logo">
        <p>nabthat</p>
    </div>
      

    <div class="footer-button">
        <button class="toggle-label" (click)="toggleMenu()"> <strong>POKAŻ</strong> </button>
        <div class="footer-menu" [ngClass]="{'visible': menuVisible}">
            <button (click)="reset()"><strong>> ZRESETUJ USTAWIENIA</strong></button>
            <button (click)="addName()"> <strong>> POKAŻ DANE OSOBOWE</strong> </button>
        </div>
    </div>   
</footer>